extends layout

block sidebar
  li
    a(href="home.html") Home
  li(class="active")
    a(href="findpatient.html") Patients
  li
    a(href="#") Analytics
  li
    a(href="#") Export

block content
  block header
    h1(class="page-header") Patient Dashboard
  h2
    a(href="patient.html") #{patients[0].name}
    span(class="pull-right") Patient ID: #{patients[0].identifier}
  p #{patients[0].gender}, 46 year(s) - #{patients[0].birthdate}
  hr
  block patient_form
    .row
      div(class="col-md-5")
        //- Left Panel
        div(class="panel panel-primary")
          div(class="panel-heading")
            h3(class="panel-title")
              i(class="fa fa-stethoscope")
              |  Diagnoses
          div(class="panel-body")
            strong Last updated: 16.Feb.2016
          ul(class="list-group")
            li(class="list-group-item") TB Positive
            li(class="list-group-item") MDR Negative

        div(class="panel panel-success")
          div(class="panel-heading")
            h3(class="panel-title")
              i(class="fa fa-heartbeat")
              |  Vitals
          div(class="panel-body")
            strong Last updated: 10.Jan.2016
          ul(class="list-group")
            for value, key in patients[0].vitals
              li(class="list-group-item")
                span(class="text-success")= key
                span(class="pull-right")= value

        div(class="panel panel-warning")
          div(class="panel-heading")
            h3(class="panel-title")
              i(class="fa fa-file-text")
              |  Lab Result
          table(class="table")
            thead
              tr
                th Test
                th Result
                th Date
            tbody
              for test in patients[0].lab_results
                tr
                  td
                    a(href="labresult.html") #{test.name}
                  td #{test.result}
                  td #{test.date}

      div(class="col-md-5")
        //- Right panel
        div(class="panel panel-primary")
          div(class="panel-heading")
            h3(class="panel-title")
              span(class="glyphicon glyphicon-calendar", aria-hidden="true")
              |  Appointments
          div(class="panel-body")
            strong Upcoming appointment: 14.Mar.2016
          div(class="list-group")
            a(class="list-group-item", href="#") 10.Feb.2016
            a(class="list-group-item", href="#") 09.Jan.2016

        div(class="panel panel-danger")
          div(class="panel-heading")
            h3(class="panel-title")
              i(class="fa fa-medkit")
              |  Treatment
          table(class="table")
            thead
              tr
                th Item
                th Dose
                th Frequency
                th Start date
            tbody
              tr
                td Rifampicin (R)
                td 150 mg
                td 1 times a day
                td 11.Feb.2016

        div(class="panel panel-info")
          div(class="panel-heading")
            h3(class="panel-title")
              span(class="glyphicon glyphicon-pencil", aria-hidden="true")
              |  Notes
          div(class="panel-body")
            div(class="col-sm-12")
              |  None

      div(class="col-md-2")
        legend Current Visit Actions
        ul
          li
            a(href="#") End Visit
          li
            a(href="screening.html") TB Form
          li
            a(href="note.html") Visit Notes
          li
            a(href="vitals.html") Capture Vitals
          li
            a(href="treatment.html") Treatment
        legend General Actions
        ul
          li
            a(href="appointment.html") Schedule Appointment